.card {
    width: 260px;
    height: 366px;
    background: var(--green-medium);
    border-radius: 15px;
    box-shadow: 1px 5px 30px 0px var(--green-dark);
    margin: auto;
    border: solid 3px var(--green-light);
}

.card .cardBorderTop {
    width: 60%;
    height: 3%;
    background-color: var(--green-dark);
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    border-top: none;
    border-right: 3px solid var(--green-light);
    border-bottom: 3px solid var(--green-light);
    border-left: 3px solid var(--green-light);
}

.card span {
    font-weight: 600;
    color: var(--white-soft);
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 28px;
}

.card .job {
    font-weight: 400;
    color: var(--white-soft);
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 18px;
}

.card .img {
    width: 90px;
    height: 100px;
    background-color: var(--green-light);
    border-radius: 100%;
    margin: auto;
    margin-top: 25px;
    border: solid 3px var(--green-dark);
}

.card .btnComeOn {
    padding: 12px 32px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: var(--green-light);
    color: var(--white-soft);
    font-weight: 600;
    font-size: 18px;
    border: solid 3px var(--green-dark);
}

.card .btnComeOn:hover {
    background-color: var(--green-dark);
    border: solid 3px var(--green-light);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}