@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
.card {
    width: 260px;
    height: 396px;
    background: var(--green-medium);
    border-radius: 15px;
    box-shadow: 1px 5px 10px 0px var(--green-dark);
    margin: auto;
    border: solid 1px var(--green-light);
    font-family: "Chakra Petch", serif;
    font-weight: 300;
    font-style: normal;
}
.nameSpan {
    padding: 1rem;
}
.card .cardBorderTop {
    width: 60%;
    height: 3%;
    background-color: var(--green-dark);
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    border-top: none;
    border-right: 1px solid var(--green-light);
    border-bottom: 1px solid var(--green-light);
    border-left: 1px solid var(--green-light);
}

.card .titleSpan {
    font-weight: 600;
    color: var(--white-soft);
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    line-height: 28px;
    padding: 1rem;
}
.card .nameSpan {
    font-weight: 600;
    color: var(--white-soft);
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    line-height: 28px;
}
.card .job {
    font-weight: 400;
    color: var(--white-soft);
    display: block;
    text-align: center;
    font-size: 16px;
    
}

.card .img {
    width: 90px;
    height: 100px;
    background-color: var(--green-light);
    border-radius: 15px;
    margin: auto;
    border: solid 1px var(--green-dark);
}

.card .btnComeOn {
    padding: 12px 32px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    background: var(--green-light);
    color: var(--white-soft);
    font-weight: 600;
    font-size: 18px;
    border: solid 1px var(--green-dark);
}

.card .btnComeOn:hover {
    background-color: var(--green-dark);
    border: solid 1px var(--green-light);
}
