@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-dark: #004B23;
  --green-medium: #007200;
  --green-light: #38b000;
  --white-soft: #F0F5F1;
  --black-soft: #1A1A1A;
  --gray-medium: #A6A6A6;
  --gray-dark: #333333;
}

body {
  background: var(--black-soft);
}